# Django project specific ignores
__pycache__
*.pyc

# Editor specific files
.vscode/

# Virtual environment
.venv/

# Database file
db.sqlite3

# Any other temporary or unnecessary files or directories
*.log
*.swp
*.swo
*.swn
__pycache__/
