@font-face {
    font-family: myFont;
    src: url('../font/font.ttf');
}

body {
    background: linear-gradient(to left, lightblue, lightgreen);
    font-family: myFont;
}

hr {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.status_button {
    min-width: 120px;
    min-height: 40px;
    margin: -5px 0px 20px 10px;
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #459e48;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(144, 183, 255);
}

.status_button:hover {
    background-color: #3e3e8e;
    box-shadow: 0px 5px 5px rgb(67, 126, 235);
}

.status_button:active {
    background-color: #6363dc;
    box-shadow: 0px 5px 5px rgb(29, 108, 255);
    transform: translateY(4px);
}