{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <hr>
    <a href="/admin"> <button type="button">Admin</button> </a> <br> <hr>
    <a href="/api/v0/news/irna"> <button type="button">Irna APIs</button> </a> <br> <hr>
    <a href="/swagger-ui"> <button type="button">Swagger</button> </a> <br> <hr>
    <a href="/docs"> <button type="button">Documents</button> </a> <br> <hr>
    <a href="/schema"> <button type="button">Schema</button> </a> <br> <hr>
</body>
</html>