<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/base.css" rel="stylesheet">
    <title>Home</title>
</head>
</body>
    <h1>
        News Aggregator
    </h1>
    <hr>
    <h3>
        Panel
    </h3>
    <div>
        <a href="/admin/"><button class="status_button" type="status_button">Admin</button></a>
    </div>
    <h3>
        DRF Authentication
    </h3>
    <div>
        <a href="/api/auth/login/"><button class="status_button" type="button">Login</button></a>
    </div>
    <div>
        <a href="/api/auth/logout/"><button class="status_button" type="button">Logout</button></a>
    </div>
    <h3>
        Rest Authentication
    </h3>
    <div>
        <a href="/api/v0/auth/login/"><button class="status_button" type="button">Login</button></a>
    </div>
    <div>
        <a href="/api/v0/auth/logout/"><button class="status_button" type="button">Logout</button></a>
    </div>
    <div>
        <a href="/api/v0/auth/user/"><button class="status_button" type="button">User Info</button></a>
    </div>
    <div>
        <a href="/api/v0/auth/password/change/"><button class="status_button" type="button">Change Password</button></a>
        <a href="/api/v0/auth/password/reset/"><button class="status_button" type="button">Reset Password</button></a>
        <a href="/api/v0/auth/password/reset/confirm/"><button class="status_button" type="button">Confirm Password</button></a>
    </div>

    <h2>
        Irna News
    </h2>
    <div>
        <a href="/api/v0/news/irna/"><button class="status_button" type="button">List</button></a>
        <a href="/api/v0/news/irna/last-ten/"><button class="status_button" type="button">Last Ten</button></a>
        <a href="/api/v0/news/irna/create/"><button class="status_button" type="button">Generate</button></a>
    </div>

    <h2>
        Documentations
    </h2>
    <div>
        <a href="/schema/"><button class="status_button" type="button">Schema</button></a>
    </div>
    <div>
        <a href="/docs/"><button class="status_button" type="button">Documents</button></a>
    </div>

    <h2>
        API Test
    </h2>
    <div>
        <a href="/swagger-ui/"><button class="status_button" type="button">Swagger</button></a>
    </div>
    <hr>
</body>
</html>
