{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href={% static "css/base.css" %} rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
</body>
    <h1>
        News Aggregator
    </h1>
    <hr>
    <div>
        <a href="/admin"><button class="status_button" type="status_button">Admin</button></a>
    </div>
    <div>
        <a href="/api/v0/news/irna"><button class="status_button" type="button">Irna news</button></a>
        <a href="/api/v0/news/irna/create"><button class="status_button" type="button">Generate</button></a>
    </div>
    <div>
        <a href="/swagger-ui"><button class="status_button" type="button">Swagger</button></a>
    </div>
    <div>
        <a href="/docs"><button class="status_button" type="button">Documents</button></a>
    </div>
    <div>
        <a href="/schema"><button class="status_button" type="button">Schema</button></a>
    </div>
    <hr>
</body>
</html>
